
#container {
  margin-left: auto;
  margin-right: auto;
}

#cities, #city {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td {
  padding: 3px 9px;
} 

#back {
  padding-top: 40px;
}

#button-save {
  display: none;
}